In [1]:
x=int(input("enter the first number"))

enter the first number563

In [2]:
y=int(input("enter the first number"))

enter the first number798

In [5]:
print(x+y)

563798

In [9]:
int(x)+int(y)

1361

In [12]:
int(x)-int(y)

-235

In [13]:
int(x)*int(y)

449274

In [14]:
int(x)/int(y)

0.7055137844611529

In [18]:
P=int(input("enter the amt"))

enter the amt10000

In [19]:
N=int(input("enter no. of yrs"))

enter no. of yrs5

In [20]:
R=int(input("enter rate of int"))/100

enter rate of int5

In [21]:
I=P*N*R

In [23]:
print(I)

2500.0

In [26]:
x=int(input("enter your mark"))

enter your mark50

In [29]:
if x > 40 : 
  print("you are pass")
if x < 40 :
  print("you are fail")

you are pass

In [30]:
x=int(input("enter your salary"))

enter your salary50000

In [36]:
if x > 250000 :
  print("you are taxable")
  print=10
if x < 250000 :
  print("you are not taxable")
  print=10

you are not taxable

In [40]:
if salary>50000
   print("you are taxable)")
   t=sal-250000
   tax=t*10/100
   print("tax",tax)
else:
   print("you are free from tax")

SyntaxError: ignored

In [40]:
if x < 250000
   print(".......")
if 250000<x<500000 :